<section id="benefits" class="pt-10 pb-10 md:pt-[75px] md:pb-[75px]">
    <div class="container-custom lg:flex ">
        <h2 class="hidden">Benefits</h2>
        <div class="bg-primary rounded-3xl mb-4 mx-auto
        md:mb-8 lg:mb-0 lg:mr-8 
        w-[335px] 
        md:w-[704px] 
        lg:w-[716px] 
        xl:w-[768px] ">
            <ul class="py-20 px-5 flex flex-col items-center w-[335px] h-[642px]
            md:flex-row md:flex-wrap md:justify-center md:gap-x-8 md:gap-y-11
            md:py-[90px] md:px-[12px] md:h-[424px] md:w-[704px]
            lg:h-[424px] lg:w-[716px] 
            xl:h-[424px] xl:w-[768px]">
                <li class="mb-10 flex flex-col gap-[18px] w-[295px] h-[93px]
                md:mb-0 md:w-[295px]">
                    <h3 class="text-light font-medium text-[28px] leading-none tracking-[-0.05em]">01</h3>
                    <div class="h-px bg-border-light"></div>
                    <p class="text-light font-normal text-[12px] leading-[1.16] tracking-[-0.02em] opacity-80">
                        Swimming and water sports: try your hand at water skiing
                    </p>
                </li>

                <li class="mb-10 flex flex-col gap-[18px] w-[295px] h-[93px]
                md:mb-0 md:w-[295px]">
                    <h3 class="text-light font-medium text-[28px] leading-none tracking-[-0.05em]">02</h3>
                    <div class="h-px bg-border-light"></div>
                    <p class="text-light font-normal text-[12px] leading-[1.16] tracking-[-0.02em] opacity-80">
                        Fishing: try to catch your own dinner
                    </p>
                </li>

                <li class="mb-10 flex flex-col gap-[18px] w-[295px] h-[93px]
                md:mb-0 md:w-[295px]">
                    <h3 class="text-light font-medium text-[28px] leading-none tracking-[-0.05em]">03</h3>
                    <div class="h-px bg-border-light"></div>
                    <p class="text-light font-normal text-[12px] leading-[1.16] tracking-[-0.02em] opacity-80">
                        Sightseeing tours: take a shore or island tour, enjoy the
                        views and sunsets from the water
                    </p>
                </li>

                <li class="mb-10 flex flex-col gap-[18px] w-[295px] h-[93px]
                md:mb-0 md:w-[295px]">
                    <h3 class="text-light font-medium text-[28px] leading-none tracking-[-0.05em]">04</h3>
                    <div class="h-px bg-border-light"></div>
                    <p class="text-light font-normal text-[12px] leading-[1.16] tracking-[-0.02em] opacity-80">
                        Rest and relaxation: read a book or listen to music while
                        enjoying the outdoor atmosphere.
                    </p>
                </li>
            </ul>
        </div>
        <picture>
            <source media="(min-width: 1440px)"
                srcset="./img/benefits/desktop/benefits.webp 1x, ./img/benefits/desktop/benefits@2x.webp 2x" />
            <source media="(min-width: 1280px)"
                srcset="./img/benefits/laptop/benefits.webp 1x, ./img/benefits/laptop/benefits@2x.webp 2x" />
            <source media="(min-width: 768px)"
                srcset="./img/benefits/tablet/benefits.webp 1x, ./img/benefits/tablet/benefits@2x.webp 2x" />
            <img class="mx-auto rounded-3xl w-[335px]  md:w-[704px] md:mx-auto lg:mx-0 lg:w-[432px] xl:w-[540px]"
                src="./img/benefits/mobile/benefits.webp"
                srcset="./img/benefits/mobile/benefits.webp 1x, ./img/benefits/mobile/benefits@2x.webp 2x"
                alt="Yacht Benefits" width="540" height="424" />
        </picture>
    </div>
</section>