<section id="benefits" class="hidden">
    <div class="container-custom">
        <h2>Benefits</h2>
        <div>
            <ul>
                <li>
                    <h3>01</h3>
                    <div></div>
                    <p>
                        Swimming and water sports: try your hand at water skiing
                    </p>
                </li>
                <li>
                    <h3>02</h3>
                    <div></div>
                    <p>
                        Fishing: try to catch your own dinner
                    </p>
                </li>
                <li>
                    <h3>03</h3>
                    <div></div>
                    <p>
                        Sightseeing tours: take a shore or island tour, enjoy the
                        views and sunsets from the water
                    </p>
                </li>
                <li>
                    <h3>04</h3>
                    <div></div>
                    <p>
                        Rest and relaxation: read a book or listen to music while
                        enjoying the outdoor atmosphere.
                    </p>
                </li>
            </ul>

            <picture>
                <source media="(min-width: 1440px)"
                    srcset="./img/benefits/desktop/benefits.webp 1x, ./img/benefits/desktop/benefits@2x.webp 2x" />
                <source media="(min-width: 1280px)"
                    srcset="./img/benefits/laptop/benefits.webp 1x, ./img/benefits/laptop/benefits@2x.webp 2x" />
                <source media="(min-width: 768px)"
                    srcset="./img/benefits/tablet/benefits.webp 1x, ./img/benefits/tablet/benefits@2x.webp 2x" />
                <img src="./img/benefits/mobile/benefits.webp"
                    srcset="./img/benefits/mobile/benefits.webp 1x, ./img/benefits/mobile/benefits@2x.webp 2x"
                    alt="Yacht Benefits" width="540" height="424" />
            </picture>
        </div>
    </div>
</section>