<section id="hero" class="hidden">
    <div class="container-custom">
        <h1>
            Explore the High Seas with Our Luxury Yacht Rentals
        </h1>
        <p>
            Experience the freedom and luxury of yachting on the open seas.
            Choose from our top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and
            state-of-the-art amenities.
        </p>
        <button type="button">Yacht rental</button>
    </div>
</section>