<section id="hero" class="pt-[198px] pb-[244px]
md:pt-[200px] md:pb-[215px]
lg:pt-[155px] lg:pb-[180px]">
    <div class="container-custom">
        <h1 class="text-center text-light font-medium text-[32px] leading-none tracking-[-0.02em] mb-6 w-[335px] mx-auto
            md:text-[70px] md:leading-[1.1] md:w-[636px]
            lg:text-[80px] lg:w-[1000px]">
            Explore the High Seas with Our Luxury Yacht Rentals
        </h1>
        <p class="text-center text-light font-light text-[12px] leading-[1.6] mb-9.5 w-[335px] mx-auto opacity-70 
            md:text-[16px] md:leading-[1.4] md:w-[600px] md:mb-12 lg:">
            Experience the freedom and luxury of yachting on the open seas.
            Choose from our top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and
            state-of-the-art amenities.
        </p>
        <button type="button"
            class="block py-[14px] px-[32px] rounded-lg mx-auto text-center text-light font-medium text-[14px] leading-[1.2] tracking-[-0.02em] bg-primary hover:bg-primary-dark transition-colors duration-300">Yacht
            rental</button>
    </div>
</section>