<menu id="menu">
    <div class="container-custom">
        <div>
            <span>Menu</span>
            <div>
                <span>yachtjet</span>
                <svg width="19" height="19">
                    <use href="./img/icons.svg#icon-close"></use>
                </svg>
            </div>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#yachts">YACHTS</a>
                </li>
                <li>
                    <a href="#reviews">REVIEWS</a>
                </li>
            </ul>
        </nav>

        <ul>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <svg width="19" height="19">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <svg width="19" height="19">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <svg width="19" height="19">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</menu>