<section id="rent-form" class="pb-20 md:pb-[150px]">
    <div class="container-custom flex flex-col-reverse lg:flex-row lg:gap-[50px]">
        <picture>
            <source media="(min-width: 1440px)"
                srcset="./img/rent-form/desktop/form.webp 1x, ./img/rent-form/desktop/form@2x.webp 2x" />
            <source media="(min-width: 1280px)"
                srcset="./img/rent-form/laptop/form.webp 1x, ./img/rent-form/laptop/form@2x.webp 2x" />
            <source media="(min-width: 768px)"
                srcset="./img/rent-form/tablet/form.webp 1x, ./img/rent-form/tablet/form@2x.webp 2x" />
            <img class="w-[335px] h-[412px] mx-auto md:w-[704px] md:h-[534px] lg:w-[658px] lg:h-[536px] lg:mx-0
            xl:w-[768px]" src="./img/rent-form/mobile/form.webp"
                srcset="./img/rent-form/mobile/form.webp 1x, ./img/rent-form/mobile/form@2x.webp 2x" alt="Rent a yacht"
                width="768" height="534" />
        </picture>
        <div class="flex flex-col w-[335px] mx-auto md:w-[472px] lg:h-[536px] lg:justify-between xl:h-[536px] lg:mx-0">
            <h2 class="text-light text-start font-medium text-[28px] leading-none tracking-[-0.02em] mb-10 w-[222px]
            md:w-[380px] md:text-[48px]">
                Rent a yacht now</h2>
            <form class="flex flex-col w-[335px] gap-[18px] mb-10
            md:w-[472px] md:mb-[50px]
            lg:mb-0 lg:flex-1">
                <input type="text" name="user-fullname" id="user-fullname" placeholder="Full Name" required class="block font-sans font-normal text-[14px] leading-[1.2] tracking-[-0.02em] text-light bg-transparent border border-border-light rounded-lg h-[42px] p-5
                    md:h-[54px]" />

                <input type="email" name="user-email" id="user-email" placeholder="Email" required class="block font-sans font-normal text-[14px] leading-[1.2] tracking-[-0.02em] text-light bg-transparent border border-border-light rounded-lg h-[42px] p-5
                    md:h-[54px]" />

                <input type="tel" name="user-phone" id="user-phone" placeholder="Phone number" required class="block font-sans font-normal text-[14px] leading-[1.2] tracking-[-0.02em] text-light bg-transparent border border-border-light rounded-lg h-[42px] p-5
                    md:h-[54px]" />

                <textarea name="Comment" id="user-comment" placeholder="Comment" class="block font-sans font-normal text-[14px] leading-[1.2] tracking-[-0.02em] text-light bg-transparent border border-border-light rounded-lg h-[108px] p-5
                    md:h-[116px]"></textarea>


            </form>
            <button type="submit" class="block mb-20 w-[122px] h-[46px] font-sans font-medium text-[14px] leading-[1.3] tracking-[-0.02em] text-light bg-primary rounded-lg p-[14px] hover:bg-light hover:text-primary transition-colors duration-300 focus:bg-light focus:text-primary
            md:text-[18px] md:mb-[100px]
            md:w-[194px] md:h-[56px]
            lg:w-[194px] lg:h-[56px] lg:mb-0 lg:mt-[50px]">Send</button>
        </div>
    </div>
</section>