<section id="rent-form" class="hidden">
    <div class="container-custom">
        <picture>
            <source media="(min-width: 1440px)"
                srcset="./img/rent-form/desktop/form.webp 1x, ./img/rent-form/desktop/form@2x.webp 2x" />
            <source media="(min-width: 1280px)"
                srcset="./img/rent-form/laptop/form.webp 1x, ./img/rent-form/laptop/form@2x.webp 2x" />
            <source media="(min-width: 768px)"
                srcset="./img/rent-form/tablet/form.webp 1x, ./img/rent-form/tablet/form@2x.webp 2x" />
            <img src="./img/rent-form/mobile/form.webp"
                srcset="./img/rent-form/mobile/form.webp 1x, ./img/rent-form/mobile/form@2x.webp 2x" alt="" width="768"
                height="534" />
        </picture>
        <div>
            <h2>Rent a yacht now</h2>
            <form>
                <input type="text" name="user-fullname" id="user-fullname" placeholder="Full Name" required />
                <input type="email" name="user-email" id="user-email" placeholder="Email" required />
                <input type="tel" name="user-phone" id="user-phone" placeholder="Phone number" required />
                <textarea name="Comment" id="user-comment" placeholder="Comment"></textarea>

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</section>