<section id="reviews" class="pb-20 md:pb-[150px]">
    <div class="container-custom">
        <h2 class="text-light text-center font-medium text-[28px] leading-none tracking-[-0.02em] mb-[25px] mx-auto w-[320px]
        md:text-5xl md:w-[645px]
        lg:w-[716px]">
            YachtJet take pride in providing the best possible service and experience to our customers
        </h2>
        <p class="text-light font-normal text-center text-[12px] leading-[1.3] tracking-[-0.02em] mb-10 mx-auto w-[335px] opacity-40
        md:text-[14px] md:w-[640px] md:mb-[75px]
        lg:w-[716px]">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to
            find out what they have to say about their journey with us.
        </p>
        <ul class="flex flex-row justify-center">
            <li class="bg-surface rounded-3xl p-6 w-[335px] md:mr-8 md:w-[336px]
            lg:w-[376px] lg:mr-[26px]
            xl:w-[392px] xl:mr-[32px]">
                <picture class="block mb-[24px]">
                    <img src="./img/reviews/john-wax.webp"
                        srcset="./img/reviews/john-wax.webp 1x, ./img/reviews/john-wax@2x.webp 2x" alt="John Wax"
                        width="56" height="56" class="rounded-full mx-auto" />
                </picture>
                <h3 class="text-dark text-center font-medium text-[18px] leading-[1.1] tracking-[-0.02em] mb-3">
                    John Wax
                </h3>
                <p class="text-dark text-center font-normal text-[16px] leading-[1.4] tracking-[-0.02em] opacity-40">
                    I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever.
                    The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.
                </p>
            </li>

            <li class="hidden bg-surface rounded-3xl p-6 w-[335px] md:block md:w-[336px]
            lg:w-[376px] lg:mr-[26px]
            xl:w-[392px] xl:mr-[32px]">
                <picture class="block mb-[24px]">
                    <img src="./img/reviews/victoria-romashenko.webp"
                        srcset="./img/reviews/victoria-romashenko.webp 1x, ./img/reviews/victoria-romashenko@2x.webp 2x"
                        alt="Victoria Romashenko" width="56" height="56" class="rounded-full mx-auto" />
                </picture>
                <h3 class="text-dark text-center font-medium text-[18px] leading-[1.1] tracking-[-0.02em] mb-3">
                    Victoria Romashenko
                </h3>
                <p class="text-dark text-center font-normal text-[16px] leading-[1.4] tracking-[-0.02em] opacity-40">
                    The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was
                    beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.
                </p>
            </li>

            <li class="hidden bg-surface rounded-3xl p-6 w-[335px] lg:block lg:w-[376px]
            xl:w-[392px]">
                <picture class="block mb-[24px]">
                    <img src="./img/reviews/ihor-trachuk.webp"
                        srcset="./img/reviews/ihor-trachuk.webp 1x, ./img/reviews/ihor-trachuk@2x.webp 2x"
                        alt="Ihor Trachuk" width="56" height="56" class="rounded-full mx-auto" />
                </picture>
                <h3 class="text-dark text-center font-medium text-[18px] leading-[1.1] tracking-[-0.02em] mb-3">
                    Ihor Trachuk
                </h3>
                <p class="text-dark text-center font-normal text-[16px] leading-[1.4] tracking-[-0.02em] opacity-40">
                    The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant,
                    and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!
                </p>
            </li>
        </ul>
    </div>
</section>