<section id="reviews">
    <div class="container-custom">
        <h2>Reviews</h2>
        <p>Read what our satisfied customers have to say about their yachting experiences with us.</p>
        <ul>
            <li>
                <picture>
                    <img
                        src="./img/reviews/ihor-trachuk.webp"
                        srcset="./img/reviews/ihor-trachuk.webp 1x, ./img/reviews/ihor-trachuk@2x.webp 2x"
                        alt="Ihor Trachuk"
                        width="80"
                        height="80" />
                </picture>
                <h3>Ihor Trachuk</h3>
                <p>Amazing experience! The yacht was beautiful and the crew was incredibly professional.</p>
            </li>
            <li>
                <picture>
                    <img
                        src="./img/reviews/john-wax.webp"
                        srcset="./img/reviews/john-wax.webp 1x, ./img/reviews/john-wax@2x.webp 2x"
                        alt="John Wax"
                        width="80"
                        height="80" />
                </picture>
                <h3>John Wax</h3>
                <p>Unforgettable journey on the high seas. Will definitely book again!</p>
            </li>
            <li>
                <picture>
                    <img
                        src="./img/reviews/victoria-romashenko.webp"
                        srcset="./img/reviews/victoria-romashenko.webp 1x, ./img/reviews/victoria-romashenko@2x.webp 2x"
                        alt="Victoria Romashenko"
                        width="80"
                        height="80" />
                </picture>
                <h3>Victoria Romashenko</h3>
                <p>Luxury at its finest. The amenities and service exceeded all expectations.</p>
            </li>
        </ul>
    </div>
</section>
