<section id="yachts" class="hidden">
    <div class="container-custom">
        <h2>
            Choose your dream yacht and sail away into the sunset
        </h2>
        <ul>
            <li>
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-1.webp 1x, ./img/yacht-selection/desktop/yacht-selection-1@2x.webp 2x" />
                    <source media="(min-width: 1024px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-1.webp 1x, ./img/yacht-selection/laptop/yacht-selection-1@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-1.webp 1x, ./img/yacht-selection/tablet/yacht-selection-1@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Arrow" width="360" height="268" />
                </picture>
                <div>
                    <h3>Arrow</h3>
                    <p>LUXURY YACHTS</p>
                </div>
                <dl>
                    <div>
                        <dt>LENGTH</dt>
                        <dd>48m(155ft)</dd>
                    </div>
                    <div>
                        <dt>BUILDER</dt>
                        <dd>Admiral</dd>
                    </div>
                    <div>
                        <dt>BUILT</dt>
                        <dd>2021</dd>
                    </div>
                    <div>
                        <dt>GUESTS</dt>
                        <dd>11 in 5 cabins</dd>
                    </div>
                    <div>
                        <dt>PRICE</dt>
                        <dd>€33,500,000</dd>
                    </div>
                </dl>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-2.webp 1x, ./img/yacht-selection/desktop/yacht-selection-2@2x.webp 2x" />
                    <source media="(min-width: 1024px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-2.webp 1x, ./img/yacht-selection/laptop/yacht-selection-2@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-2.webp 1x, ./img/yacht-selection/tablet/yacht-selection-2@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Benetti Oasis 40M BO122" width="360" height="268" />
                </picture>
                <div>
                    <h3>BENETTI OASIS 40M BO122</h3>
                    <p>LUXURY YACHTS</p>
                </div>
                <dl>
                    <div>
                        <dt>LENGTH</dt>
                        <dd>41m (133ft)</dd>
                    </div>
                    <div>
                        <dt>BUILDER</dt>
                        <dd>Benetti</dd>
                    </div>
                    <div>
                        <dt>BUILT</dt>
                        <dd>2025</dd>
                    </div>
                    <div>
                        <dt>GUESTS</dt>
                        <dd>10 in 5 cabins</dd>
                    </div>
                    <div>
                        <dt>PRICE</dt>
                        <dd>€23,210,000</dd>
                    </div>
                </dl>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-3.webp 1x, ./img/yacht-selection/desktop/yacht-selection-3@2x.webp 2x" />
                    <source media="(min-width: 1024px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-3.webp 1x, ./img/yacht-selection/laptop/yacht-selection-3@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-1.webp 1x, ./img/yacht-selection/tablet/yacht-selection-1@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Belle Anna" width="360" height="268" />
                </picture>
                <div>
                    <h3>BELLE ANNA</h3>
                    <p>LUXURY YACHTS</p>
                </div>
                <dl>
                    <div>
                        <dt>LENGTH</dt>
                        <dd>50m(155ft)</dd>
                    </div>
                    <div>
                        <dt>BUILDER</dt>
                        <dd>ISA</dd>
                    </div>
                    <div>
                        <dt>BUILT</dt>
                        <dd>2012</dd>
                    </div>
                    <div>
                        <dt>GUESTS</dt>
                        <dd>12 in 6 cabins</dd>
                    </div>
                    <div>
                        <dt>PRICE</dt>
                        <dd>€21,000,000</dd>
                    </div>
                </dl>
            </li>
        </ul>
        <button type="button">Yacht rental</button>
    </div>
</section>