<section id="yachts" class="pt-10 pb-10 md:pt-[75px] md:pb-[75px]">
    <div class="container-custom ">
        <h2 class="text-light text-center font-medium text-[28px] leading-none tracking-[-0.02em] mb-10 mx-auto w-[320px]
        md:text-5xl md:w-[645px] md:mb-[75px]
        lg:w-[716px]">
            Choose your dream yacht and sail away into the sunset
        </h2>
        <ul class="mb-10 flex flex-row justify-center md:mb-12.5">
            <li class="bg-surface rounded-3xl p-4 w-[335px] h-[478px] md:mr-8 md:w-[336px] md:h-[508px]
            lg:w-[377px]
            xl:w-[392px]">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-1.webp 1x, ./img/yacht-selection/desktop/yacht-selection-1@2x.webp 2x" />
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-1.webp 1x, ./img/yacht-selection/laptop/yacht-selection-1@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-1.webp 1x, ./img/yacht-selection/tablet/yacht-selection-1@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Arrow" width="360" height="268" />
                </picture>
                <div class="px-4 mt-8 mb-4 flex justify-between">
                    <h3
                        class="text-primary font-medium text-[14px] leading-[1.18] tracking-[-0.04em] uppercase md:text-[16px] md:leading-[1.2]">
                        Arrow
                    </h3>
                    <p
                        class="text-primary font-normal text-[12px] leading-[1.16] uppercase tracking-[-0.03em] opacity-40 md:text-[13px] md:leading-[1.18]">
                        LUXURY YACHTS
                    </p>

                </div>
                <div class="h-px bg-border-dark mx-4"></div>
                <dl class="px-4">
                    <div class="mb-1.5 mt-4 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40 ">
                            LENGTH</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            48m(155ft)</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILDER</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            Admiral</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILT</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            2021</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            GUESTS</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">11
                            in 5 cabins</dd>
                    </div>
                    <div class="mb-4 flex justify-between   ">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            PRICE</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            €33,500,000</dd>
                    </div>
                </dl>
            </li>

            <li class="hidden bg-surface rounded-3xl p-4 w-[335px] h-[478px] md:block md:h-[508px]
            lg:w-[377px] lg:mr-8
            xl:w-[392px]">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-2.webp 1x, ./img/yacht-selection/desktop/yacht-selection-2@2x.webp 2x" />
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-2.webp 1x, ./img/yacht-selection/laptop/yacht-selection-2@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-2.webp 1x, ./img/yacht-selection/tablet/yacht-selection-2@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Benetti Oasis 40M BO122" width="360" height="268" />
                </picture>
                <div class="px-4 mt-8 mb-4 flex justify-between">
                    <h3 class="text-primary font-medium text-[14px] leading-[1.18] tracking-[-0.04em] uppercase ">
                        BENETTI OASIS
                    </h3>
                    <p
                        class="text-primary font-normal text-[12px] leading-[1.16] uppercase tracking-[-0.03em] opacity-40">
                        LUXURY YACHTS
                    </p>

                </div>
                <div class="h-px bg-border-dark mx-4"></div>
                <dl class="px-4">
                    <div class="mb-1.5 mt-4 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40 ">
                            LENGTH</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            41m (133ft)</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILDER</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            Benetti</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILT</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            2025</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            GUESTS</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">10
                            in 5 cabins</dd>
                    </div>
                    <div class="mb-4 flex justify-between   ">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            PRICE</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            €23,210,000</dd>
                    </div>
                </dl>
            </li>

            <li class="hidden bg-surface rounded-3xl p-4 w-[335px] h-[478px] lg:block lg:w-[377px] lg:h-[508px]
            xl:w-[392px]">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./img/yacht-selection/desktop/yacht-selection-3.webp 1x, ./img/yacht-selection/desktop/yacht-selection-3@2x.webp 2x" />
                    <source media="(min-width: 1280px)"
                        srcset="./img/yacht-selection/laptop/yacht-selection-3.webp 1x, ./img/yacht-selection/laptop/yacht-selection-3@2x.webp 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./img/yacht-selection/tablet/yacht-selection-3.webp 1x, ./img/yacht-selection/tablet/yacht-selection-3@2x.webp 2x" />
                    <img src="./img/yacht-selection/mobile/yacht-selection-1.webp"
                        srcset="./img/yacht-selection/mobile/yacht-selection-1.webp 1x, ./img/yacht-selection/mobile/yacht-selection-1@2x.webp 2x"
                        alt="Luxury yacht Belle Anna" width="360" height="268" />
                </picture>
                <div class="px-4 mt-8 mb-4 flex justify-between">
                    <h3 class="text-primary font-medium text-[14px] leading-[1.18] tracking-[-0.04em] uppercase ">
                        BELLE ANNA
                    </h3>
                    <p
                        class="text-primary font-normal text-[12px] leading-[1.16] uppercase tracking-[-0.03em] opacity-40">
                        LUXURY YACHTS
                    </p>

                </div>
                <div class="h-px bg-border-dark mx-4"></div>
                <dl class="px-4">
                    <div class="mb-1.5 mt-4 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40 ">
                            LENGTH</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            50m(155ft)</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILDER</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            ISA</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            BUILT</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            2012</dd>
                    </div>
                    <div class="mb-1.5 flex justify-between">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            GUESTS</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">12
                            in 6 cabins</dd>
                    </div>
                    <div class="mb-4 flex justify-between   ">
                        <dt
                            class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em] uppercase opacity-40">
                            PRICE</dt>
                        <dd class="text-dark font-normal text-[14px] leading-[1.16] tracking-[-0.03em]">
                            €21,000,000</dd>
                    </div>
                </dl>
            </li>
        </ul>
        <button
            class="block mx-auto text-light font-medium text-[14px] leading-[1.3] tracking-[-0.02em] px-8 py-3.5 rounded-lg bg-inherit border border-surface hover:bg-light hover:text-primary focus:bg-light focus:text-primary transition-colors duration-300"
            type="button"
            onclick="window.location.href='#rent-form'">Yacht rental</button>
    </div>
</section>