@import 'tailwindcss';

/* #region common */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0e1823;
  background-image: url('../img/bg-yacht/mobile/bg-yacht.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  margin: 0 auto;
  color: #fbfbfb;
}
/* #endregion common */

/* #region background images */
/* Mobile retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background-image: url('../img/bg-yacht/mobile/bg-yacht@2x.webp');
  }
}

/* Tablet */
@media (min-width: 768px) {
  body {
    background-image: url('../img/bg-yacht/tablet/bg-yacht.webp');
  }
}

/* Tablet retina */
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  body {
    background-image: url('../img/bg-yacht/tablet/bg-yacht@2x.webp');
  }
}

/* Laptop */
@media (min-width: 1280px) {
  body {
    background-image: url('../img/bg-yacht/laptop/bg-yacht.webp');
  }
}

/* Laptop retina */
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi) {
  body {
    background-image: url('../img/bg-yacht/laptop/bg-yacht@2x.webp');
  }
}

/* Desktop */
@media (min-width: 1440px) {
  body {
    background-image: url('../img/bg-yacht/desktop/bg-yacht.webp');
  }
}

/* Desktop retina */
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1440px) and (min-resolution: 192dpi) {
  body {
    background-image: url('../img/bg-yacht/desktop/bg-yacht@2x.webp');
  }
}
/* #endregion background images */

/* #region theme */
@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
}

@theme {
  /* Colors */
  --color-primary: #1b414b;
  --color-primary-dark: #062730;
  --color-background: #0e1823;
  --color-surface: #fbfbfb;
  --color-text-dark: #040306;
  --color-text-light: #fbfbfb;
  --color-text-muted: rgba(4, 3, 6, 0.4);
  --color-text-light-muted: rgba(251, 251, 251, 0.4);
  --color-text-light-70: rgba(251, 251, 251, 0.7);
  --color-text-light-80: rgba(251, 251, 251, 0.8);
  --color-border-light: rgba(251, 251, 251, 0.2);
  --color-border-light-35: rgba(251, 251, 251, 0.35);
  --color-border-dark: rgba(4, 3, 6, 0.1);
  --color-primary-50: rgba(27, 65, 75, 0.5);
  --color-surface-30: rgba(251, 251, 251, 0.3);
  --color-surface-10: rgba(251, 251, 251, 0.1);

  /* Font family */
  --font-sans: 'Inter', sans-serif;
}
/* #endregion theme */
