@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #1b414b;
  --color-primary-dark: #062730;
  --color-background: #0e1823;
  --color-surface: #fbfbfb;
  --color-text-dark: #040306;
  --color-text-light: #fbfbfb;
  --color-text-muted: rgba(4, 3, 6, 0.4);
  --color-text-light-muted: rgba(251, 251, 251, 0.4);
  --color-text-light-70: rgba(251, 251, 251, 0.7);
  --color-text-light-80: rgba(251, 251, 251, 0.8);
  --color-border-light: rgba(251, 251, 251, 0.2);
  --color-border-light-35: rgba(251, 251, 251, 0.35);
  --color-border-dark: rgba(4, 3, 6, 0.1);
  --color-primary-50: rgba(27, 65, 75, 0.5);
  --color-surface-30: rgba(251, 251, 251, 0.3);
  --color-surface-10: rgba(251, 251, 251, 0.1);

  /* Font family */
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}
